{% extends "base.html" %}

{% block title %}지도{% endblock %}
{% block contenttitle %}지도{% endblock %}

{% block head %}
    <style>
        .wrap {
            position: absolute;
            left: 0;
            bottom: 40px;
            width: 288px;
            height: 132px;
            margin-left: -144px;
            text-align: left;
            overflow: hidden;
            font-size: 12px;
            font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
            line-height: 1.5;
        }

        .wrap * {
            padding: 0;
            margin: 0;
        }

        .wrap .info {
            width: 286px;
            height: 120px;
            border-radius: 5px;
            border-bottom: 2px solid #ccc;
            border-right: 1px solid #ccc;
            overflow: hidden;
            background: #fff;
        }

        .wrap .info:nth-child(1) {
            border: 0;
            box-shadow: 0px 1px 2px #888;
        }

        .info .title {
            padding: 5px 0 0 10px;
            height: 30px;
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-size: 18px;
            font-weight: bold;
        }

        .info .close {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #888;
            width: 17px;
            height: 17px;
            background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
        }

        .info .close:hover {
            cursor: pointer;
        }

        .info .body {
            position: relative;
            overflow: hidden;
        }

        .info .desc {
            position: relative;
            margin: 13px 0 0 90px;
            height: 75px;
        }

        .desc .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .desc .jibun {
            font-size: 11px;
            color: #888;
            margin-top: -2px;
        }

        .info .img {
            position: absolute;
            top: 6px;
            left: 5px;
            width: 73px;
            height: 71px;
            border: 1px solid #ddd;
            color: #888;
            overflow: hidden;
        }

        .info:after {
            content: '';
            position: absolute;
            margin-left: -12px;
            left: 50%;
            bottom: 0;
            width: 22px;
            height: 12px;
            background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
        }

        .info .link {
            color: #5085BB;
        }

        .Map_info {
            padding: 15px;
        }

        #conDiv {
            height: 900px;
        }

        .form-control {
            font-size: 13px;
            width: 70%;
            height: 100%;
            margin-left: 15%;
            margin-right: 15%;
        }

        table {
            width: 100%;
        }

        td {
            width: 20%;
        }
    </style>
{% endblock %}

{% block content %}
    {% for a in data %}

        <div class="col-sm-1">
        </div>
        <div id="conDiv" class="col-sm-10">
            <h1 style="text-align: center">서울시 환경 보기</h1><br>
            <h2 style="text-align: center"><{{ a.theme }}></h2>
            <div id="map" style="width:100%;height:480px;"></div>
            <table style=" margin-top: 50px; margin-bottom: 50px; width: 100%; height: 50px;">
                <tr>
                    <td>
                        <button style="color : white; background-color: #00B0E8" id="theme1" class="form-control"
                                type='submit'>등록된 자동차 수
                        </button>
                    </td>
                    <td>
                        <button style="color : white; background-color: #00B0E8" id="theme2" class="form-control"
                                type='submit'>주차장 수
                        </button>
                    </td>
                    <td>
                        <button style="color : white; background-color: #00B0E8" id="theme3" class="form-control"
                                type='submit'>버스 만족도
                        </button>
                    </td>
                    <td>
                        <button style="color : white; background-color: #00B0E8" id="theme4" class="form-control"
                                type='submit'>지하철 만족도
                        </button>
                    </td>
                    <td>
                        <button style="color : white; background-color: #00B0E8" id="theme5" class="form-control"
                                type='submit'>택시 만족도
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1b296b1b2ab6211a8c7bc206ee1252e7"></script>
    <script>
        $(function () {
            $('#theme1').click(function () {
                location.href = '{% url 'number_of_registered_cars' %}'
            })
            $('#theme2').click(function () {
                location.href = '{% url 'number_of_parking' %}'
            })
            $('#theme3').click(function () {
                location.href = '{% url 'bus_satisfaction' %}'
            })
            $('#theme4').click(function () {
                location.href = '{% url 'subway_satisfaction' %}'
            })
            $('#theme5').click(function () {
                location.href = '{% url 'taxi_satisfaction' %}'
            })
        })
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.56171650378457, 126.98478822618519),
            level: 9
        };
        var map = new kakao.maps.Map(container, options);

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        var Maptype = kakao.maps.MapTypeId.USE_DISTRICT;

        // maptype에 해당하는 지도타입을 지도에 추가합니다
        map.addOverlayMapTypeId(Maptype);

        {% for okay in data %}
            var theme = '{{ okay.theme }}';
            var dong_jag_gu = '{{ okay.dong_jag_gu }}';
            var do_bong_gu = '{{ okay.do_bong_gu }}';
            var eun_pyeong_gu = '{{ okay.eun_pyeong_gu }}';
            var gang_bug_gu = '{{ okay.gang_bug_gu }}';
            var gang_dong_gu = '{{ okay.gang_dong_gu }}';
            var gang_nam_gu = '{{ okay.gang_nam_gu }}';
            var geum_cheon_gu = '{{ okay.geum_cheon_gu }}';
            var gnag_seo_gu = '{{ okay.gang_seo_gu }}';
            var gu_lo_gu = '{{ okay.gu_lo_gu }}';
            var gwang_jin_gu = '{{ okay.gwang_jin_gu }}';
            var gwan_ag_gu = '{{ okay.gwan_ag_gu }}';
            var jung_gu = '{{ okay.jung_gu }}';
            var jung_lang_gu = '{{ okay.jung_lang_gu }}';
            var ma_po_gu = '{{ okay.ma_po_gu }}';
            var no_won_gu = '{{ okay.no_won_gu }}';
            var seong_bug_gu = '{{ okay.seong_bug_gu }}';
            var seong_dong_gu = '{{ okay.seong_dong_gu }}';
            var seo_cho_gu = '{{ okay.seo_cho_gu }}';
            var seo_dae_mun_gu = '{{ okay.seo_dae_mun_gu }}';
            var song_pa_gu = '{{ okay.song_pa_gu }}';
            var yang_cheon_gu = '{{ okay.yang_cheon_gu }}';
            var yeong_deung_po_gu = '{{ okay.yeong_deung_po_gu }}';
            var yong_san_gu = '{{ okay.yong_san_gu }}';
            var jong_no_gu = '{{ okay.jong_no_gu }}';
            var dong_dae_mun_gu = '{{ okay.dong_dae_mun_gu }}';

            {% for t in test %}
                var loc = '{{ t.loc }}'
                var map_data = '';
                if (loc == 'dong_jag_gu') {
                    map_data = dong_jag_gu;
                } else if (loc == 'do_bong_gu') {
                    map_data = do_bong_gu;
                } else if (loc == 'eun_pyeong_gu') {
                    map_data = eun_pyeong_gu;
                } else if (loc == 'gang_bug_gu') {
                    map_data = gang_bug_gu;
                } else if (loc == 'gang_dong_gu') {
                    map_data = gang_dong_gu;
                } else if (loc == 'gang_nam_gu') {
                    map_data = gang_nam_gu;
                } else if (loc == 'geum_cheon_gu') {
                    map_data = geum_cheon_gu;
                } else if (loc == 'gnag_seo_gu') {
                    map_data = gnag_seo_gu;
                } else if (loc == 'gu_lo_gu') {
                    map_data = gu_lo_gu;
                } else if (loc == 'gwang_jin_gu') {
                    map_data = gwang_jin_gu;
                } else if (loc == 'gwan_ag_gu') {
                    map_data = gwan_ag_gu;
                } else if (loc == 'jung_gu') {
                    map_data = jung_gu;
                } else if (loc == 'jung_lang_gu') {
                    map_data = jung_lang_gu;
                } else if (loc == 'ma_po_gu') {
                    map_data = ma_po_gu;
                } else if (loc == 'no_won_gu') {
                    map_data = no_won_gu;
                } else if (loc == 'seong_bug_gu') {
                    map_data = seong_bug_gu;
                } else if (loc == 'seong_dong_gu') {
                    map_data = seong_dong_gu;
                } else if (loc == 'seo_cho_gu') {
                    map_data = seo_cho_gu;
                } else if (loc == 'seo_dae_mun_gu') {
                    map_data = seo_dae_mun_gu;
                } else if (loc == 'song_pa_gu') {
                    map_data = song_pa_gu;
                } else if (loc == 'do_bong_gu') {
                    map_data = do_bong_gu;
                } else if (loc == 'dong_dae_mun_gu') {
                    map_data = dong_dae_mun_gu;
                } else if (loc == 'yang_cheon_gu') {
                    map_data = yang_cheon_gu;
                } else if (loc == 'yeong_deung_po_gu') {
                    map_data = yeong_deung_po_gu;
                } else if (loc == 'jong_no_gu') {
                    map_data = jong_no_gu;
                } else {
                    map_data = yong_san_gu;
                }


                var marker_{{ t.pk }} = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(Number({{ t.longi }}), Number({{ t.lati }}))
                });


                var content_{{ t.pk }} = '<div class="wrap">' +
                    '    <div class="info">' +
                    '        <div class="title">' +
                    '            {{ t.kor_loc }} ' +
                    '            <div class="close" onclick="closeOverlay_{{ t.pk }}()" title="닫기"></div>' +
                    '        </div>' +
                    '        <div class="Map_info">' +
                    '            ' + theme + '<br> ' +
                    '            ' + map_data + ' {{ u }}  <br>' +
                    '                 </div>' +
                    '        </div>' +
                    '    </div>' +
                    '</div>';

                // 마커 위에 커스텀오버레이를 표시합니다
                // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
                var overlay_{{ t.pk }} = new kakao.maps.CustomOverlay({
                    content: content_{{ t.pk }},
                    map: map,
                    position: marker_{{ t.pk }}.getPosition(),
                });
                overlay_{{ t.pk }}.setMap(null);
                // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
                kakao.maps.event.addListener(marker_{{ t.pk }}, 'click', function () {
                    overlay_{{ t.pk }}.setMap(map);
                });

                function closeOverlay_{{ t.pk }}() {
                    overlay_{{ t.pk }}.setMap(null);
                }
            {% endfor %}
        {% endfor %}
        // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다


    </script>
{% endblock %}